body{
  border: solid 10px black;
 padding-bottom: 440px;
 background-color: #7489ff;
}

#head2{
font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
text-align: center;
}

input[type="radio"] {
  margin-top: 10px;
}

.panel{
  display: none;
 background-color: #6699ff;
}

#colors{
  color:  #6699ff;
  text-align: center;
}

h3{
  font-family: 'Space Mono', monospace;
  text-decoration: underline;
}

#main2{
  color: #6699ff;
  text-align: center;
  font-family: 'Space Mono', monospace;
}

.ownInfo{
  font-family: 'Space Mono', monospace;
  font-size: 20px;
}

.form-group{
  width: 30%;
}

.form-control{
  width: 30%;
}

.well{
background-color: #6699ff;
}

.jumbotron{
  background-color: black;
  color: black;
}

#main{
  padding: 2%;
  margin: 1%;
  border-width: thick 10%;
  padding-bottom: 490px;
}

p{
  font-family: monospace;
  font-size: 20px;
}
