body{
  border: solid 10px black;
 padding-bottom: 440px;
 /*background-color: lightblue;*/
}


#head2{
font-family: Menlo, Monaco, Consolas, "Courier New", monospace;

}
input[type="radio"] {
  margin-top: 10px;
}

.panel{
  display: none;
 background-color: #6699ff;
}
